# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
tfplan

# Lambda
lambda/deployment.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# AWS
.aws/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
